.about.container {
    padding: 19px;
    width: 100%;
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 19px;
        width: 100%;
    }
}

/*** Media queries for about page ***/
@media screen and (min-width: $medium) {
    .about.container {
        .content {
            margin-top: 38px;
            width: 80%;
        }
    }
}

@media screen and (min-width: $large) {
    .about.container {
        padding: 38px 100px;
        .content {
            width: 82.5%;
        }
    }
}
