// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

#root {
    /*height: 100vh; /*for footer position */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $max-width;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Basic styles for links ***/
a {
    color: inherit;
    text-decoration: none;
}
