// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Responsive versions of header
@mixin responsive-header {
    @media screen and (max-width: $small) {
        header {
            padding: 0 20px;
            nav {
                gap: 26px;
                font-size: 12px;
            }
            svg {
                width: 145px;
                height: 47px;
            }
        }
    }
}

/// Responsive versions of banner
@mixin responsive-banner {
    /// for medium screen
    @media screen and (min-width: $medium) {
        .banner {
            height: 223px;
            margin-bottom: 43px;
            border-radius: 25px;
            &__overlay {
                border-radius: 25px;
            }
            &__image {
                border-radius: 25px;
            }
            &__title {
                width: 100%;
                text-align: center;
                margin: auto;
                font-size: 48px;
            }
        }
    }
}

/// Responsive versions of footer
@mixin responsive-footer {
    @media screen and (min-width: $medium) {
        .footer__content {
            gap: 28px;
            width: 100%;
            width: 100%;
            p {
                font-size: 24px;
            }
        }
    }
}

/***** Response version of home page *****/

/// responsive version of card
@mixin responsive-card {
    @media screen and (min-width: $small) {
        /*height: 340px;*/
    }
}

/// responsive version of gallery
@mixin responsive-home {
    @media screen and (min-width: $small) {
    }
}

/*.home.container {
    padding: 50px 100px;
    gap: 43px;
    .gallery {
        background-color: $background-color;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        row-gap: 50px;
        column-gap: 60px;
        padding-top: 56px;
    }
}

/***** Response version of error page *****/
@mixin responsive-error {
    @media screen and (max-width: $small) {
        .error.container {
            gap: 113px;
            padding-top: 113px;
            padding-bottom: 113px;
            h1 {
                font-size: 96px;
            }
            h2 {
                width: 260px;
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
