// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Responsive versions of header
@mixin responsive-header {
    @media screen and (max-width: $small) {
        header {
            padding: 0 20px;
            nav {
                gap: 26px;
                font-size: 12px;
            }
            svg {
                width: 145px;
                height: 47px;
            }
        }
    }
}

/// Responsive versions of banner
@mixin responsive-banner {
    /// for medium screen
    @media screen and (max-width: $medium) {
        .banner {
            height: 111px;
            border-radius: 10px;
            justify-content: start;
            p {
                width: 217px;
                font-size: 24px;
                line-height: 100%;
                margin-left: 16px;
            }
        }
    }
}

/// Responsive versions of footer
@mixin responsive-footer {
    @media screen and (max-width: $small) {
        .footer__content {
            gap: 0;
            p {
                font-size: 12px;
            }
        }
    }
}

/***** Response version of home page *****/

/// responsive version of card
/* @mixin responsive-card {
    width: 100%;
    height: 255px;
} */

/// responsive version of gallery
@mixin responsive-home {
    @media screen and (max-width: $small) {
        .home.container {
            padding: 27px 20px;
            gap: 22px;
            .gallery {
                padding-top: 0;
                gap: 20px;
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

/***** Response version of error page *****/
@mixin responsive-error {
    @media screen and (max-width: $small) {
        .error.container {
            gap: 113px;
            padding-top: 113px;
            padding-bottom: 113px;
            h1 {
                font-size: 96px;
            }
            h2 {
                width: 260px;
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
