@use '../../styles/variables.scss';

main.apartment {
  padding: 27px 20px;
  article {
    width: 100%;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 15px;
  margin-bottom: 13px;
}
.topone {
  &__titles {
    margin-bottom: 10px;
    h1 {
      font-size: variables.$font-size-medium;
      font-weight: variables.$font-medium;
      line-height: 142.6%;
    }
    h2 {
      font-size: 14px;
      font-weight: variables.$font-medium;
      line-height: 142.6%;
    }
  }
}

.toptwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__host {
    display: flex;
    align-items: center;
    gap: 10.5px;
    p {
      width: 93px;
      text-align: end;
      font-size: variables.$font-size-small;
      font-weight: variables.$font-medium;
    }
    &__picture {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      img {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*** Media queries for apartment page ***/
@media screen and (min-width: variables.$medium) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .topone {
    &__titles {
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: variables.$font-size-medium;
        font-weight: variables.$font-medium;
      }
    }
  }
  .toptwo {
    flex-direction: column-reverse;
    &__host {
      width: 100%;
      justify-content: flex-end;
      p {
        font-size: variables.$font-size-medium;
      }
      &__picture {
        width: 64px;
        height: 64px;
      }
    }
  }
  .bottom {
    flex-direction: row;
  }
}

@media screen and (min-width: variables.$large) {
  main.apartment {
    padding: 50px 100px;
  }
}
