.about.container {
    padding: 19px;
    width: 100%;
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 19px;
        width: 100%;
    }
}

/*** Media queries for about page ***/
@include responsive-about;
