// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home.container {
    padding: 27px 20px;
    gap: 22px;
    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(335px, 1fr)
        ); /*revoir le min et le max */
        row-gap: 20px;

        p {
            font-size: $font-size-small;
        }
    }
}

@include responsive-home;
