// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
#root {
  /*height: 100vh; /*for footer position */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
}

/*** Basic styles for links ***/
a {
  color: inherit;
  text-decoration: none;
}

/*** Basic typography style for copy text ***/
body {
  font-family: $font-text;
  color: $font-color;
  font-style: normal;
  line-height: 142.6%;
}
