@use './variables.scss';

// -----------------------------------------------------------------------------
// Very basic styles
// -----------------------------------------------------------------------------

/*** Basic styles for containers ***/

#root {
  min-height: 100vh; /*for footer position */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: variables.$max-width;
}

/*** Basic styles for links ***/
a {
  color: inherit;
  text-decoration: none;
}

/*** Basic typography style for copy text ***/
body {
  font-family: variables.$font-text;
  color: variables.$font-color;
  font-style: normal;
  line-height: 142.6%;
}

// -----------------------------------------------------------------------------
// Normalize
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background-color: unset;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button {
  /* 1 */
  text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
