@use '../../styles/variables.scss';

.rate {
  height: 18px;
  width: 98px;
  display: flex;
  justify-content: space-between;
}

.star {
  &__active svg {
    fill: variables.$primary-color;
    height: 18px;
    width: 18px;
  }
  &__inactive svg {
    fill: #e3e3e3;
    height: 18px;
    width: 18px;
  }
}

/*** Media queries for tags ***/
@media screen and (min-width: variables.$medium) {
  .rate {
    height: 36px;
    width: 196px;
    align-items: center;
  }
  .star {
    &__active svg {
      height: 24px;
      width: 24px;
    }
    &__inactive svg {
      height: 24px;
      width: 24px;
    }
  }
}
