// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home.container {
    padding: 27px 20px;
    gap: 22px;
    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(280px, 1fr)
        ); /*revoir le min et le max */
        row-gap: 20px;
        column-gap: 5px;

        p {
            font-size: $font-size-small;
        }
    }
}

/*** Media queries for home page ***/
@media screen and (min-width: $medium) {
    .gallery {
        background-color: $background-color;
        border-radius: 25px;
        padding: 20px;
    }
}

@media screen and (min-width: $large) {
    .home.container {
        padding: 50px 100px;
        gap: 43px;
        .gallery {
            row-gap: 50px;
            column-gap: 60px;
            padding: 56px 50px 43px 50px;
        }
    }
}
