@use '../../styles/variables.scss';

main.home {
  padding: 27px 20px;
  gap: 22px;
  .gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 20px;
    p {
      font-size: variables.$font-size-small;
    }
  }
}

/*** Media queries for home page ***/
@media screen and (min-width: variables.$medium) {
  main.home {
    .gallery {
      background-color: variables.$background-color;
      border-radius: 25px;
      padding: 20px;
    }
  }
}

@media screen and (min-width: variables.$large) {
  main.home {
    padding: 50px 100px;
    gap: 43px;
    .gallery {
      padding: 56px 50px 43px 50px;
      gap: 50px;
    }
  }
}
