@import '../../styles/variables', '../../styles/base', '../../styles/normalize';

.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: $primary-color;
    color: $font-color-variant;
    height: 30px;
    padding: 10px 6px 10px 10px;

    &__title {
      font-size: 13px;
      font-weight: $font-medium;
    }

    &__arrow {
      cursor: pointer;
      fill: white;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 24px;
      }
      &.up {
        transform: rotate(0deg);
        transition: transform 300ms ease-out;
      }
      &.down {
        transform: rotate(-180deg);
        transition: transform 300ms ease-in;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-rows: 0fr;
    background-color: $background-color;
    border-radius: 0px 0px 5px 5px;
    transition: grid-template-rows 300ms ease-in-out;

    &.show {
      grid-template-rows: 1fr;
    }
  }
  &__content {
    overflow: hidden;
    p,
    ul {
      padding: 13px 20px 19px 20px;
      font-size: $font-size-small;
      line-height: 142.6%;
    }
    ul {
      list-style-type: none;
    }
  }
}

/*** Media queries for collapse ***/
@media screen and (min-width: $medium) {
  .collapse {
    &__header {
      height: auto;
      border-radius: 10px;
      padding: 10px 20px 10px 10px;
      &__title {
        font-size: $font-size-medium;
      }
    }
    &__container {
      border-radius: 0px 0px 10px 10px;
    }
    &__content p,
    ul {
      padding: 25px 28px 20px 20px;
      font-size: $font-size-medium;
    }
  }
}

@media screen and (min-width: $large) {
  .collapse {
    &__header {
      padding: 10px 15px 10px 15px;
      &__title {
        font-size: $font-size-large;
      }
    }
    &__container {
      border-radius: 0px 0px 5px 5px;
    }
    &__content p,
    ul {
      padding: 16px 20px 20px 20px;
    }
  }
}
