header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-grow: 1;
        gap: 26px;
        a {
            font-size: $font-size-small;
            font-weight: $font-medium;
        }
        .active {
            text-decoration: underline;
        }
    }
    svg {
        fill: $primary-color;
        width: 145px;
        height: 47px;
    }
}

/*** Media queries for header ***/
@media screen and (min-width: $medium) {
    header {
        padding: 0 100px;
        margin-top: 45px;
        nav {
            gap: 57px;
            a {
                font-size: $font-size-large;
            }
        }
        svg {
            width: 210px;
            height: 68px;
        }
    }
}
