.card {
    /*width: 335px; /* à revoir */
    width: 100%;
    max-width: 335px;
    height: 255px; /* à revoir */
    position: relative;
    border-radius: 10px;
    justify-self: center;

    :hover {
        cursor: pointer;
        opacity: 0.2; /* à revoir */
    }

    &__overlay {
        content: '';
        border-radius: 10px;
        background: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    img {
        border-radius: 10px;
        height: 255px; /* à revoir */
        /*width: 335px; /* à revoir */
        width: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        color: white;
        font-size: $font-size-medium;
        font-weight: $font-medium;
    }
}

/*** Media queries for card ***/
@include responsive-card;
