.collapse {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background-color: $primary-color;
        color: $font-color-variant;
        height: 30px;

        &__title {
            text-indent: 10px;
            font-size: 13px;
            font-weight: $font-medium;
        }

        &__arrow {
            cursor: pointer;
            fill: white;
            background-color: none;
            /*width: 32px;
            height: 30px;*/
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            &.up {
                transform: rotate(0deg);
            }

            &.down {
                transform: rotate(-180deg);
            }
        }
    }

    &__container {
        background-color: $background-color;
        overflow: hidden;
        transition: max-height 2000ms ease-in-out;

        &.hide {
            max-height: 0;
        }
        &.show {
            max-height: 100vh;
        }
    }
    &__content {
        padding: 13px 20px 19px 20px;
    }
}

/*** Media queries for collapse ***/
