.collapse {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*margin-top: 20px;*/

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background-color: $primary-color;
        color: $font-color-variant;
        height: 30px;
        padding: 10px 6px 10px 10px;

        &__title {
            font-size: 13px;
            font-weight: $font-medium;
        }

        &__arrow {
            cursor: pointer;
            fill: white;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 24px;
            }
            &.up {
                transform: rotate(0deg);
                transition: transform 300ms ease-out;
            }
            &.down {
                transform: rotate(-180deg);
                transition: transform 300ms ease-in;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-rows: 0fr;
        background-color: $background-color;
        transition: grid-template-rows 300ms ease-in-out;

        &.show {
            grid-template-rows: 1fr;
        }
    }
    &__content {
        overflow: hidden;
        p,
        ul {
            padding: 13px 20px 19px 20px;
        }
        ul {
            list-style-type: none;
        }
    }
}

/*** Media queries for collapse ***/
