.slider {
    width: 100%;
    height: 255px;
    border-radius: 10px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__pages {
        display: none;
        position: absolute;
        text-align: center;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $font-color-variant;
        font-weight: $font-medium;
        font-size: $font-size-medium;
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__next,
        &__previous {
            cursor: pointer;
            background-color: inherit;
        }
    }
}

/*** Media queries for slider ***/
@media screen and (min-width: $medium) {
    .slider {
        border-radius: 25px;
        &__pages {
            display: block;
        }
        &__button {
            padding: 0 23px;
            &__next svg,
            &__previous svg {
                width: 47px;
                height: 79px;
            }
        }
    }
}
@media screen and (min-width: $large) {
    .slider {
        height: 415px;
        border-radius: 25px;
    }
}
